html,
body {
  background-color: theme("colors.gray.900");
  min-height: 100%;
}

ul {
  width: max-content;
  max-height: 30em;
}

span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
